<div class="callform uk-modal">
  <div class="uk-modal-dialog uk-border-rounded">
      <a class="uk-modal-close uk-close"></a>
      <h2>Введите номер телефона</h2>
      <form class="uk-form">
        <div class="uk-grid">

          <div class="uk-width-medium-1-2 uk-flex uk-flex-middle">
            <input class="uk-width-1-1"  id="callform-phone" type="text" placeholder="Телефон">
          </div>

          <div class="uk-width-medium-1-2 uk-flex">
            <button class="uk-width-1-1 uk-button uk-button-success uk-border-rounded" type="button">
              Перезвоните мне!
            </button>
          </div>

        </div>
      </form>
  </div>
</div>
