<div class="categories">
  <div class="uk-flex uk-flex-wrap">

    {% for category in categories %}
    <div class="uk-width-1-2">
      {% include 'blocks/category.html' %}
    </div>
    {% endfor %}

    <article class="category">
      <h2><a href="/изготовление-лестниц-на-заказ/">Изготовление на заказ</a></h2>
      <div class="content">
        <div class="text">
          Если вы не смогли подобрать подходящую лестницу, то мы можем изготовить ее на заказ. Пожалуйста ознакомьтесь с дополнительной <a href="/изготовление-лестниц-на-заказ">информацией по изготовлению лестниц на заказ</a> или позвоните нам по телефону для консультации.
        </div>
      </div>
    </article>

  </div>
</div>
