<address class="contacts contacts--default" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 500}">
<ul class="contacts-list contacts-list--default">
  <li class="contacts-phone comagic_phone">+7 (495) 135-25-80</li>
  <li class="contacts-time">(пн-пт 9:00-18:00)</li>
  <li>
    <span class="badge badge--success">
      <a title="Заказать обратный звонок" class="badge-link" href="#" data-callback-trigger>
        Обратный звонок
      </a>
    </span>
  </li>
</ul>
</address>

<address class="contacts contacts--compact">
  <ul class="contacts-list contacts-list--compact" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 500}">
    <li><span class="fa fa-phone"></span></li>
    <li class="comagic_phone">+7 (495) 135-25-80</li>
    <li>пн-пт 9:00-18:00</li>
  </ul>
</address>
