<footer class="footer">
  <div class="uk-container uk-margin-small-top uk-margin-bottom">

    <ul class="uk-subnav uk-subnav-line uk-margin-remove uk-hidden-small">
      <li><a class="footer-link" href="/изготовление-лестниц-на-заказ/">Лестницы на заказ</a></li>
      <li><a class="footer-link" href="/информация-для-дилеров/">Информация для дилеров</a></li>
      <li><a class="footer-link" href="/продажа-доски/">Продажа доски</a></li>
      <li>Сайт не является публичной офертой</li>
      <li>© 2015 ЛПК «Темп»</li>
    </ul>

    <div class="uk-visible-small">
      Сайт не является публичной офертой © 2015 ЛПК «Темп»
    </div>

  </div>
</footer>
