{% if route == 'index' %}

  {% set href = '/подобрать-лестницу/' %}
  {% set text = 'Перейти к подбору лестницы!' %}

{% elif lodash.startsWith(route, 'select') %}

  {% set href = '/купить-лестницу/' %}
  {% set text = 'Перейти к покупке лестницы!' %}

{% elif lodash.startsWith(route, 'order') %}

  {% set href = '/' %}
  {% set text = 'Перейти на главную страницу!' %}

{% endif %}

{% if href and text %}
<nav class="guide">
  <div class="guide-container">
    <a href="{{ href }}" class="guide-link">
      {{ text }}
    </a>
  </div>
</nav>
{% endif %}
