<header class="header" data-uk-sticky>

  <nav class="header-mainnav">

    <div class="header-mainnav-toggle">
      <a class="header-mainnav-toggle-link fa fa-bars" data-uk-offcanvas="{target:'.menu'}" href="#"></a>
    </div>

    <div class="header-mainnav-logo">
      <a class="header-mainnav-logo-link" href="/">Лестницы.рф</a>
    </div>

    {% set active = 'header-mainnav-item--active' %}
    <ol class="header-mainnav-list">

      {% set class = active if not lodash.includes(route, '/') else '' %}
      <li class="header-mainnav-item {{ class }}">
        <a class="header-mainnav-link" href="/">
          Главная<br>страница
        </a>
      </li>

      {% set class = active if lodash.startsWith(route, 'select') else '' %}
      <li class="header-mainnav-item {{ class }}">
        <a class="header-mainnav-link" href="/подобрать-лестницу/">
          Подобрать<br>лестницу
        </a>
        <a class="header-mainnav-stars" title="Отложенные лестницы" href="/подобрать-лестницу/по-каталогу/отложенные/">
          <span class="fa fa-stack fa-lg">
            <span class="header-mainnav-stars-layout fa fa-stack-2x fa-star"></span>
            <span class="header-mainnav-stars-count fa fa-stack-1x"></span>
          </span>
        </a>
      </li>

      {% set class = active if lodash.startsWith(route, 'order') else '' %}
      <li class="header-mainnav-item {{ class }}">
        <a class="header-mainnav-link" href="/купить-лестницу/">
          Купить<br>лестницу
        </a>
      </li>

    </ol>

  </nav>

  <nav class="header-subnav">

    {% set active = 'header-subnav-item--active' %}
    <ul class="header-subnav-list" data-uk-scrollspy-nav="{cls:'{{ active }}', closest:'li', topoffset: 300}">

      {% if not lodash.includes(route, '/') %}

      {% set class = active %}
      {% set link = '#лидеры' if route == 'index' else '/#лидеры' %}
      <li class="header-subnav-item {{ class }}">
        <a class="header-subnav-link" href="{{ link }}">
          №1 в России
        </a>
      </li>

      {% set link = '#качество' if route == 'index' else '/#качество' %}
      <li class="header-subnav-item">
        <a class="header-subnav-link" href="{{ link }}">
          высокое качество
        </a>
      </li>

      {% set link = '#цена' if route == 'index' else '/#цена' %}
      <li class="header-subnav-item">
        <a class="header-subnav-link" href="{{ link }}">
          доступная цена
        </a>
      </li>

      {% set link = '#скорость' if route == 'index' else '/#скорость' %}
      <li class="header-subnav-item">
        <a class="header-subnav-link" href="{{ link }}">
          торгово-выставочный зал
        </a>
      </li>

      {% elif lodash.startsWith(route, 'select') %}

      {% set class = active if route == 'select/index' %}
      <li class="header-subnav-item {{ class }}">
        <a class="header-subnav-link" href="/подобрать-лестницу/">
          по типу
        </a>
      </li>

      {% set class = active if lodash.startsWith(route, 'select/catalog') %}
      <li class="header-subnav-item {{ class }}">
        <a class="header-subnav-link" href="/подобрать-лестницу/по-каталогу/">
          по каталогу
        </a>
      </li>

      <li class="header-subnav-item">
        <a class="header-subnav-link" href="/купить-лестницу/">
          лично в торгово-выставочном зале
        </a>
      </li>

      {% elif lodash.startsWith(route, 'order') %}

      {% set class = active if route == 'order/index' %}
      <li class="header-subnav-item {{ class }}">
        <a class="header-subnav-link" href="/купить-лестницу/">
          торгово-выставочный зал
        </a>
      </li>

      {% set class = active if route == 'order/dealers' %}
      <li class="header-subnav-item {{class }}">
        <a class="header-subnav-link" href="/купить-лестницу/дилеры/">
          дилеры по всей России
        </a>
      </li>

      {% endif %}

    </ul>

  </nav>

  <address class="header-contacts header-contacts--default">
    <ul class="header-contacts-list header-contacts-list--default">
      <li class="comagic_phone">+7 (495) 490-38-14</li>
      <li>(многоканальный)</li>
      <li>пн-пт 9:00-18:00</li>
    </ul>
  </address>

  <address class="header-contacts header-contacts--compact">
    <ul class="header-contacts-list header-contacts-list--compact">
      <li><span class="fa fa-phone"></span></li>
      <li class="comagic_phone">+7 (495) 490-38-14</li>
      <li>пн-пт 9:00-18:00</li>
    </ul>
  </address>

</header>
