<div class="help uk-modal">
  <div class="uk-modal-dialog uk-border-rounded">
      <a class="uk-modal-close uk-close"></a>
      <h2>Справка</h2>
      <dl class="uk-description-list-line">
        <dt>Поворот</dt>
        <dd>Поворот лестницы в градусах. Лестницы изготавливаются/собираются
        в двух вариантах - левозаходные (вы поднимаетесь по часовой стрелке) и
        правозаходные (вы поднимаетесь против часовой стрелки). </dd>
        <dt>Высота</dt>
        <dd>Высота вашего помещения от пола до пола в метрах. Указывается оптимальная
        высота, для которой подойдет лестница. Кроме этого всегда есть
        возможность адаптации лестницы под вашу высоту.</dd>
        <dt>Проем</dt>
        <dd>Минимальный размер проема в вашем верхнем полу в метрах на метры.
        Указывается минимальный размер проема, для которого подойдет эта лестница.</dd>
        <dt>Древесина</dt>
        <dd>Основная порода древесины лестницы. Из этой древесины изготавливаются
        ступени и другие массивные элементы конструкции.</dd>
      </dl>
  </div>
</div>
