<div class="help uk-modal">
  <div class="uk-modal-dialog uk-border-rounded">
      <a class="uk-modal-close uk-close"></a>
      <h2>Справка</h2>
      <dl class="uk-description-list-line">
        <dt>Поворот</dt>
        <dd>Поворот лестницы</dd>
        <dt>Высота</dt>
        <dd>Высота вашего помещения от пола до пола</dd>
        <dt>Проем</dt>
        <dd>Минимальный размер проема в вашем верхнем полу,
        для которого подойдет эта лестница</dd>
        <dt>Древесина</dt>
        <dd>Основная порода древесины лестницы</dd>
      </dl>
  </div>
</div>
