<div class="order uk-modal">
  <div class="uk-modal-dialog uk-border-rounded">
      <a class="uk-modal-close uk-close"></a>
      <h2>Как заказать лестницу</h2>
      <p>Самый простой способ - это позвонить нам по телефону:</p>
      <blockquote>
        <span class="comagic_phone uk-text-large uk-text-bold">+7 (495) 490-38-14</span>
        <span class="uk-text-small uk-text-muted">(пн-пт 9:00-18:00)</span>
      </blockquote>
      <p>
        Выбор и покупка лестницы - ответстенное дело! Наши специалисты
        подробно проконсультируют вас по всем вопросам, помогут с выбором,
        объяснят какие есть способы адаптации готовых лестниц или
        примут заказ на изготовление лестницы по вашему проекту.
      </p>
      <blockquote>
        Лесопромышленная компания «Темп» производит лестницы с 1994 года.
        За это время мы накопили уникальный опыт, которым готовы поделиться.
      </blockquote>
  </div>
</div>
