<article class="product">

  {% if modifier == 'single' %}
  <div class="product-header">
    <div class="uk-container">

      <h1 class="product-heading">
        <a href="/подобрать-лестницу/по-каталогу/{{ product.slug }}/">Лестница {{ product.name }}</a>
        <a href="#" title="Отложить лестницу" class="product-star fa fa-star-o" data-star="{{ product.id }}"></a>
        <span class="product-price">
          {% if product.presence %}
          {{ product.price }}
          <span class="fa fa-rub"></span>
          {% else %}
          нет в наличии
          {% endif %}
        </span>
      </h1>

      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Лестницы.рф</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="/подобрать-лестницу/">Подобрать лестницу</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="/подобрать-лестницу/по-каталогу/">по каталогу</a></li>
        <li class="breadcrumb-item--active"><span>{{ product.name }}</span></li>
      </ul>

      <p class="uk-text-large">
        На этой странице представлена подробная информация о лестнице {{ product.name }}.
        Нажмите на звездочку, чтобы отложить эту модель.
        Показывать <span class="badge"><a class="badge-link" href="#" data-flip>правозаходные</a></span> модификации/варианты сборки.
        Показать <span class="badge"><a class="badge-link" title="Показать справку" data-uk-modal="{target: '.help'}">справку</a></span> по используемым терминам.
      </p>

    </div>
  </div>
  {% endif %}

  <div class="uk-container">
    <div class="uk-grid uk-grid-divider">

      <div class="uk-width-medium-1-5 uk-hidden-small">
        <img class="product-image" data-flip
             alt="Лестница {{ product.name | escape }}"
             src="{{ product.image | replace('<size>','200x300') }}"
             width="200" height="300">
      </div>

      <div class="uk-width-medium-4-5">

        {% if modifier == 'list' %}
        <h2 class="product-heading">
          <a href="/подобрать-лестницу/по-каталогу/{{ product.slug }}/">Лестница {{ product.name }}</a>
          <a href="#" title="Отложить лестницу" class="product-star fa fa-star-o" data-star="{{ product.id }}"></a>
          <span class="product-price">
            {% if product.presence %}
            {{ product.price }}
            <span class="fa fa-rub"></span>
            {% else %}
            нет в наличии
            {% endif %}
          </span>
        </h2>
        {% endif %}

        <p class="product-text">
          {{ product.text }}
        </p>

        <div class="uk-flex uk-flex-wrap">
          <img class="product-thumbnail product-thumbnail--model uk-visible-small" data-flip
               alt="Лестница {{ product.name | escape }}"
               src="{{ product.image | replace('<size>','200x300') }}"
               width="200" height="300">
          <table class="product-table">
            {% set help = '<a href="#" title="Показать справку" class="product-table-help fa fa-question-circle" data-uk-modal="{target: \'.help\'}"></a>'%}
            <tr><th>Поворот {{ help }}</th><td>{{ product.turn }} градусов</td></tr>
            <tr><th>Высота {{ help }}</th><td>{{ product.height }}</td></tr>
            <tr><th>Проем {{ help }}</th><td>от {{ product.window }}</td></tr>
            <tr><th>Древесина {{ help }}</th><td>{{ product.wood }}</td></tr>
          </table>
          {% for photo in product.photos %}
          <a href="{{ photo.image | replace('<size>','1000x750') }}" data-uk-lightbox="{group:'{{ product.id }}'}" title="{{ product.name }}">
            <img class="product-thumbnail ut-hidden-print"
                 alt="Лестница {{ product.name | escape }}"
                 src="{{ photo.image | replace('<size>','200x150') }}"
                 width="200" height="150">
          </a>
          {% endfor %}
        </div>

      </div>

    </div>
  </div>

</article>
