---
permalink: /подобрать-лестницу/по-каталогу/
title: Подобрать лестницу по каталогу
layout: select
---
{% assign stairs = site.data.stairs | sort:'position' %}

<main>

  <section>
    <h1>{{ page.title }}</h1>
    <p>Полный каталог наших лестниц ...</p>
  </section>
  
  <section class="stairs">
    {% for stair in stairs %}
    {% assign stair_page = site.contents | where:'stair',stair.name | first %}
    <div class="stair">
      <img src="{{ stair.image }}">
      <h3><a href="{{ stair_page.permalink }}">{{ stair.name }}</a></h3>
      <p class="text">{{ stair.text }}</p>
      <div class="price">
        {% if stair.presence == 'есть' %}
          {{ stair.price }}
        {% else %}
          звоните
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </section>
    
  <section class="next">
    <a href="/купить-лестницу/">Перейти к покупке лестницы!</a>
  </section>  
  
</main>
