---
permalink: /подобрать-лестницу/
title: Подобрать лестницу по решению
layout: select
---

<main>

  <section>
    <h1>{{ page.title }}</h1>
    <p>Для облегчения вашего выбора мы подготовили наиболее интересные ...
    </p>
  </section>
  
  <section>
    {% assign stairs = site.data.stairs | where:'presence','есть' | sort:'position' %}
    {% assign solutions = site.data..solutions | sort:'position' %}
    {% for solution in solutions %}
    {% for option in solution.options %}
    {% unless default_stair %}
    {% assign default_stair = stairs | where:'name',option.stair | first %}
    {% endunless %}
    {% endfor %}
    {% if default_stair or solution.show %}
    {% assign default_stair_page = site.contents | where:'stair',default_stair.name | first %}
    <div class="solution">
      <h3><a href="{{ default_stair_page.permalink }}">{{ solution.name }} &rsaquo; {{ default_stair.name }}</a></h3>
      {% if  default_stair %}
        <img width="150" src="{{ default_stair.image }}">
      {% endif %}
      <div class="text">
        {{ solution.text }}
      </div>
      <div class="options">
        <ul>
          {% for option in solution.options %}
          {% assign stair = stairs | where:'name',option.stair | first %}
          {% if stair %}
          <li {% if stair == default_stair %}class="selected"{% endif %}> 
            {{ option.stair }} 
            {% if option.descr %}
            - {{ option.descr }}
            {% endif %} 
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="price">
        {{ default_stair.price }}
      </div>
    </div>
    {% assign default_stair = null %}
    {% endif %}
    {% endfor %}
  </section>

  <section class="next">
    <a href="/купить-лестницу/">Перейти к покупке лестницы!</a>
  </section>  
  
</main>
