.help {
  @extend .uk-modal;
}

.help-dialog {
  @extend .uk-modal-dialog;
  @extend .uk-border-rounded;
}

.help-close {
  border-color: $alpha-color !important;
}

.help-list {
  @extend .uk-description-list-line;
  dt {
    font-weight: 700;
    color: #222;
  }
  dd {
    color: #444;
  }
}
