header {
  @extend %clearfix;
  top: 0;
  z-index: 10;
  height: 75px;
  position: fixed;
  width: 100%;
  background: linear-gradient(
    to bottom, $style-color, lighten($style-color, 10%));
  padding-left: 20px;
  padding-bottom: 10px;
  color: #fff;
  
  a {
    color: #fff;
  }
  
  #logo {
  	float: left;
  	font-size: 200%;
  	font-family: $header-font-family;
  	text-shadow: 1px 1px 2px #333;
  	text-decoration: none;
  	    
    a:hover {
      text-decoration: none;
    }
  }
}

#site-menu {
  float: left;
  margin-left: 100px;
  color: #fff;
  
  a {
    color: #fff;
  }
     
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  	
  li {
    position: relative;  	 
    float: left;
    height: 60px;
    margin-right: 30px;
    padding: 13px;
    line-height: 110%;
    padding-left: 50px;
    padding-right: 15px;
    font-weight: bold;
    font-family: $header-font-family;  
    
    .number {
      position: absolute;
      top: 0;
      left: 0;
      padding: 25px 10px 10px 10px;
      font-size: 250%;
      color: #fff;
    }
  }
  
  li.active {
    border-left: solid 1px $style-color;
    border-right: solid 1px $style-color;
    background-color: lighten($style-color, 15%);
  }
}
  
#page-menu {
  @extend %clearfix;
  z-index: 5;   
  top: 85px;
  width: 100%;
  position: fixed;
  background: linear-gradient(
    to bottom, lighten($style-color, 15%), lighten($style-color, 20%));
  padding: 10px 0;
  border-top: solid 1px $style-color;
  border-bottom: solid 1px lighten($style-color, 5%);
  box-shadow: 0px 0px 15px rgba($grey-color, 0.5);
  font-family: $header-font-family; 
  letter-spacing: 0.05em;
    
  ul {
  	list-style-type: none;
  }
  	
  li {
  	float: left;
  	padding: 0 10px;
  	margin-right: 30px;		
  }
  
  li.active {
  	border: solid 1px $style-color;
  	background-color: $background-color;
  	border-radius: 10px;
    box-shadow: 0 0 10px $background-color;
    font-weight: bold;
  }
}

#contacts {
  position: fixed;
  z-index: 10;   	
  top: 5px;
  right: 5px;
  z-index: 10;
  font-size: 115%;
  background-color: $background-color;
  border: solid 1px $style-color;
  border-radius: 15px;
  box-shadow: 0 0 15px $background-color;
  padding: 15px;
  line-height: 130%;
  font-family: $header-font-family;
  font-weight: bold;
	
  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;		
  }	
}

main {
  @extend %clearfix; 
  margin-top: $menu-height;
  padding: 0 40px 20px 40px;

  img {
  	float: left;
  	margin-top: 15px;
  	margin-bottom: 15px;
  	margin-right: 30px;
  }  
}

main section {
  @extend %clearfix;   
}

main .next {
  font-size: 175%;
  background-color: $background-color;
  border-top: solid 1px $grey-color;
  border-bottom: solid 1px $grey-color;
  box-shadow: 3px 3px 6px rgba($grey-color,0.25);
  margin: 0 -40px;
  padding: 20px 40px;
  font-family: $header-font-family;
}	
  
footer {
  overflow: hidden; //TODO: remove
  font-size: 80%;
  padding-left: 40px;
  margin-bottom: 25px;
  
  &, a {
    color: #999;
  }
  
  ul {
  	float: left;	
  }
}

body[data-layout="main"] {
  @import "main";    
}

body[data-layout="select"] {
  @import "select";    
}

body[data-layout="params"] {
  @import "params";    
}

body[data-layout="catalog"] {
  @import "catalog";    
}
