main .filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: solid 1px $grey-color;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba($grey-color,0.25);
  background-color: $background-color;
  font-family: $header-font-family;
  
  .filter {
    flex-basis: 0;
  	flex-grow: 1;
  	min-width: 250px;
  	padding: 10px;
  	text-align: center;
    &:not(:last-child) {
      border-right: dashed 1px #ccc;
      //border-bottom: dashed 1px #ccc;
  	}
  }
  
  h4 {
    margin: 3px 0;
  }
  
  p {
    font-family: $header-font-family;
    font-size: 90%;
    color: #aaa;
  }
     
  table {
    border-collapse: collapse;
    margin: 15px auto;
    td {
      padding: 2px;
    }
  }
  
  input {
    display: block;
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-size: 100%;
    font-family: $header-font-family;
    text-align: center;
    
    &.range {
      padding-left: 12px;
      width: 88px;
    }
    
    &.option {
      cursor: pointer;
      &.active {
        background-color: #eee;
      }
    }
  }
}

main .message {
  border: solid 1px darken(#c0c0ff, 10%);
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba($grey-color,0.25);
  background-color: #c0c0ff;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #fff;
  font-family: $header-font-family;
  font-size: 90%;
  text-align: center;
}

main .stairs {
  display: flex;
  flex-wrap: wrap; 
  margin: -10px -10px; 
  margin-bottom: 20px;
  
  .stair {
    flex-basis: 0;
  	flex-grow: 1;
  	position: relative;
  	display: flex;
  	min-width: 350px;
  	margin: 10px;
    padding: 10px;
    border: solid 1px $grey-color;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba($grey-color,0.25);
    background-color: $background-color;
    line-height: 125%;
  }
  
  img {
    margin-right: 30px;
  }
  
  ul {
    margin: 30px 0;
    list-style-position: inside;
    font-size: 90%;
    white-space: nowrap;
  }
}
