body {
  background-image: url("/images/background2.png");
}

header {
  display: flex;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  z-index: 10;
  background: linear-gradient(
    to bottom, $style-color, lighten($style-color, 10%));
  color: #fff;

  a {
    color: #fff;
  }

  #logo {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 20px;
  	font-size: 200%;
  	font-family: $header-font-family;
  	text-shadow: 1px 1px 2px #333;
  	text-decoration: none;

    a:hover {
      text-decoration: none;
    }
  }

  #site-menu {
    flex: 0 0 auto;
    height: 100%;
    margin-left: 80px;

    ol {
      display: flex;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      counter-reset: ol-counter;
    }

    li {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      position: relative;
      margin-left: 20px;
      font-weight: bold;
      font-family: $header-font-family;
      line-height: 110%;

      &.active {
        border-left: solid 1px $style-color;
        border-right: solid 1px $style-color;
        background-color: lighten($style-color, 15%);
      }

      a {
        padding-left: 45px;
        padding-right: 15px;

        &::before {
          display: flex;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 10px;
          align-items: center;
          content: counter(ol-counter);
          counter-increment: ol-counter;
          font-size: 250%;
        }
    }
    }
  }
}

#page-menu {
  position: fixed;
  z-index: 5;
  top: 85px;
  width: 100%;
  background: linear-gradient(
    to bottom, lighten($style-color, 15%), lighten($style-color, 20%));
  padding: 10px 0;
  border-top: solid 1px $style-color;
  border-bottom: solid 1px lighten($style-color, 5%);
  box-shadow: 0 0 15px rgba($grey-color, 0.5);
  font-family: $header-font-family;
  letter-spacing: 0.05em;

  ul {
    display: flex;
  	list-style-type: none;
  }

  li {
  	padding: 0 10px;
  	margin-right: 30px;
  }

  li.active {
  	border: solid 1px $style-color;
  	background-color: $background-color;
  	border-radius: 10px;
    box-shadow: 0 0 10px $background-color;
    font-weight: bold;
  }
}

#contacts {
  position: fixed;
  z-index: 10;
  top: 5px;
  right: 5px;
  font-size: 115%;
  background-color: $background-color;
  border: solid 1px $style-color;
  border-radius: 15px;
  box-shadow: 0 0 15px $background-color;
  padding: 15px;
  line-height: 130%;
  font-family: $header-font-family;
  font-weight: bold;

  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  }
}

main {
  margin-top: $menu-height;

  .price {
    float: right;
    font-family: $header-font-family;
    color: $brand-color;

    .fa {
      font-size: 85%;
    }
  }

  .next {
    background-color: #f8f8f8;
    border-top: solid 1px lighten($grey-color, 10%);
    border-bottom: solid 1px lighten($grey-color, 10%);
    box-shadow: 3px 3px 6px rgba($grey-color,0.25);
    margin-bottom: 20px;
    font-size: 175%;
    padding: 10px 40px;
    font-family: $header-font-family;
  }
}

footer {
  overflow: hidden; //TODO: remove
  font-size: 80%;
  padding-left: 40px;
  margin-bottom: 25px;

  &, a {
    color: #999;
  }

  ul {
  	float: left;
  }
}

body[data-layout="home"] {
  @import "home";
}

body[data-layout="select"] {
  @import "select";
}

body[data-layout="params"] {
  @import "params";
}

body[data-layout="catalog"] {
  @import "catalog";
}

body[data-layout="stair"] {
  @import "stair";
}

body[data-layout="order"] {
  @import "order";
}

body[data-layout="shops"] {
  @import "shops";
}
