main .header {
  padding: 0 40px;
}

main .stairs {
  border-top: dotted 1px $grey-color;

  .stair {
    display: flex;
    position: relative;
    border-bottom: dotted 1px $grey-color;
    background-color: #fff;

    &:last-child {
      border-bottom: none;
    }

    .image {
      flex-shrink: 0;
      align-self: center;
      padding: 0 20px;
    }

    .brief {
      width: 100%;
      padding: 20px;
      border-left: dotted 1px $grey-color;

      .cards {
        display: flex;
        margin-bottom: 10px;

        & > * {
          margin-right: 20px;
        }
      }

      img {
        border: solid 1px darken($grey-color, 10%);
      }
    }
  }

  table {
    border-collapse: collapse;
    text-align: left;
    font-size: 90%;
    height: 152px;
  }

  th, td {
    border: solid 1px lighten($grey-color, 10%);
    padding: 0 10px;
  }

  th {
    background-color: #f8f8f8;
    font-family: $header-font-family;
  }
}

