main {

  h1, h2 {
    margin-top: 0;
  }

  img {
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
  }
}

main .argument-main {
  @extend %clearfix;
  padding: 1rem 40px 0;
  padding-bottom: 30px;
  background-image: url("/images/background.jpg");

  .preview img {
    opacity: 0.75;
    border: solid 2px #fff;
    cursor: pointer;
  }

  .preview img.active {
    opacity: 1;
    border: solid 2px #000;
    box-shadow: 0 0 15px #aaa;
  }
}

main .argument {
  @extend %clearfix;
  padding: 30px 40px;
  border-top: dotted 1px $grey-color;
  background-color: $background-color;
}

