main .header {
  margin-bottom: 20px;
  padding: 0 40px;
}

main .filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px;
  margin-bottom: 20px;
  border: solid 1px $grey-color;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba($grey-color,0.25);
  background-color: $background-color;
  font-family: $header-font-family;

  h4 {
    margin: 3px 0;
  }

  p {
    font-family: $header-font-family;
    font-size: 90%;
    color: #aaa;
  }

  table {
    border-collapse: collapse;
    margin: 15px auto;
  }

  td {
    padding: 2px;
  }

  input {
    display: block;
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-size: 100%;
    font-family: $header-font-family;
    text-align: center;

    &.range {
      padding-left: 12px;
      width: 88px;
    }

    &.option {
      cursor: pointer;
      &.active {
        background-color: #eee;
      }
    }
  }

  .filter {
    flex-basis: 0;
  	flex-grow: 1;
  	min-width: 250px;
  	padding: 10px;
  	text-align: center;
    &:not(:last-child) {
      border-right: dashed 1px #ccc;
      //border-bottom: dashed 1px #ccc;
  	}
  }
}

main .message {
  margin: 0 40px;
  border: solid 1px darken(#eee, 30%);
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba($grey-color,0.25);
  background-color: #eee;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-family: $header-font-family;
  font-size: 90%;
  text-align: center;
}

main .stairs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  margin-bottom: 20px;

  h2 {
    margin-top: 0;
    font-size: 1.25em;
  }

  img {
    margin-right: 30px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .stair {
  	display: flex;
  	position: relative;
  	min-width: 350px;
    flex: 1 0 0;
  	margin: 0.5rem;
    padding: 0.5rem;
    border: solid 1px $grey-color;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba($grey-color,0.25);
    background-color: $background-color;
    line-height: 1.25;

    .image {
      flex: 0 0 auto;
    }
    .content {
      flex: 1 0 auto;
      font-size: 0.9em;
    }
  }
}
