#article > header {
  margin-bottom: 1rem;
  padding: 0 2rem;
}

#article .solutions {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem 1.5rem 0.5rem;
}

#article .solution {
  flex: 1 0 0;
  min-width: 20rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem 1rem;
  border: solid 1px $grey-color;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba($grey-color,0.25);
  background-color: $background-color;

  h2 {
    margin-top: 0;
    font-size: 1.25em;
  }

  .container {
    display: flex;
  }

  .image {
    flex: 0 0 auto;
    margin-right: 1rem;

    img {
      height: 7rem*1.5;
      width: 7rem;
    }
  }

  .content {
    flex: 0 1 auto;
    font-size: 0.9em;

    p {
      margin-top: 0;
    }
  }

  .items {
    display: flex;
    align-items: flex-start;
    font-size: 1.1em;
  }

  .options {
    flex: 0 0 auto;

    th {
      border-color: darken($grey-color, 10%);
      background-color: $background-color;
      font-weight: normal;

      &.active {
        background-color: #eee;
        text-decoration: underline;
        font-weight: bold;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .params {
    flex: 0 0 auto;
    margin-left: 0.15rem;

    th {
      font-size: 0.9em;
    }
  }
}

