#article > header {
  padding: 0 2rem;
}

#article .showcase {
  display: flex;
  padding: 0 2rem;
  border-bottom: dashed 1px $grey-color;

  .image {
    flex: 0 0 auto;
    margin-right: 1rem;
    align-self: center;

    img {
      height: 8rem*1.5;
      width: 8rem;
    }
  }

  .content {
    flex: 0 1 auto;
    width: 100%;
    padding: 1rem;
    border-left: dashed 1px $grey-color;

    p {
      margin-top: 0;
    }

    table {
      font-size: 0.9em;
      height: 8rem*0.75;
    }

    img {
      box-sizing: border-box;
      height: 8rem*0.75;
      width: 8rem;
      border: solid 1px darken($grey-color, 10%);
    }
  }

  .items {
    display: flex;

    & > * {
      margin-right: 0.5rem;
    }
  }

}

#article .description {
  margin-bottom: 1rem;
  padding: 0 2rem;
  background-color: $background-color;

  table {
    margin-bottom: 0.5rem;
  }
}

