#article > header {
  padding: 0 2rem;
}

#article .showcase {
  display: flex;
  border-bottom: dashed 1px $grey-color;
  background-color: #fff;

  &:last-child {
    border-bottom: none;
  }

  .image {
    flex: 0 0 auto;
    align-self: center;
    padding: 1rem;
  }

  .content {
    flex: 0 1 auto;
    width: 100%;
    padding: 1rem;
    border-left: dashed 1px $grey-color;

    p {
      margin-top: 0;
    }

    table {
      height: 152px;
    }

    img {
      border: solid 1px darken($grey-color, 10%);
    }
  }

  .items {
    display: flex;

    & > * {
      margin-right: 0.5rem;
    }
  }

}

#article .description {
  margin-bottom: 1rem;
  padding: 0 2rem;
  background-color: $background-color;

  table {
    margin-bottom: 0.5rem;
  }
}

