#article {

  table {
    text-align: left;
    font-size: 0.9em;
  }

  th, td {
    border: solid 1px lighten($grey-color, 10%);
    padding: 0 0.5rem;
  }

  th {
    background-color: #f8f8f8;
    font-family: $header-font-family;
  }
}

#article > header {
  padding: 0 2rem;
}

#article > .showcase {
  display: flex;
  border-top: dotted 1px $grey-color;
  border-bottom: dotted 1px $grey-color;
  background-color: #fff;

  &:last-child {
    border-bottom: none;
  }

  .image {
    flex-shrink: 0;
    align-self: center;
    padding: 1rem;
  }

  .brief {
    width: 100%;
    padding: 1rem;
    border-left: dotted 1px $grey-color;

    p {
      margin-top: 0;
    }

    table {
      height: 152px;
    }

    img {
      border: solid 1px darken($grey-color, 10%);
    }

    .cards {
      display: flex;

      & > * {
        margin-right: 0.5rem;
      }
    }
  }
}

#article > .additional {
  margin-bottom: 1rem;
  padding: 0 2rem;
  background-color: $background-color;

  table {
    margin-bottom: 0.5rem;
  }
}

