body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure,
nav, main, header {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 10px;
}

figure > img {
   display: block;
}

figcaption {
   font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-color;  
  font-weight: bold;
  font-family: $header-font-family;
}

h1 {
  font-size: 175%;
  padding-top: 15px;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
     text-decoration: underline;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid lighten($grey-color, 40%);
  padding-left: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}