header {
	background-color: #ddd;
	padding-bottom: 10px;
	@extend %clearfix;
	
	#logo {
		font-size: 200%;
	}
	
	li {
		float: left;
	}
}

#menu-page {
	background-color: #eee;
	@extend %clearfix;
	
	li {
		float: left;
	}
}

main section {
	padding: 30px 40px;
	@extend %clearfix;
}

main section:nth-child(even) {
	background-color: #eee;
}

main section img {
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 30px;
}

main section.next {
	font-size: 250%;
}

footer {
	overflow: hidden; //TODO: remove
	color: #333;
	background-color: #ddd;
	
	ul {
		float: left;	
	}
}
