body {
  position: relative;
  padding-top: 135px;
}

header {
  @extend %clearfix;
  top: 0;
  z-index: 10;
  height: 75px;
  position: fixed;
  width: 100%;
  background-color: #884c27;
  padding-left: 20px;
  padding-bottom: 10px;
  color: #fff;
  
  a {
    color: #fff;
  }
  
  #logo {
  	float: left;
  	font-size: 200%;
  }
}

#menu-site {
  float: left;
  margin-left: 100px;
  color: #fff;
  
  a {
    color: #fff;
  }
     
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  	
  li {
    position: relative;  	 
    float: left;
    height: 66px;
    margin-right: 30px;
    padding: 10px;
    line-height: 110%;
    padding-left: 50px;
    font-weight: bold;
    font-family: "Ubuntu Condensed", sans-serif;  
    
    .number {
      position: absolute;
      top: 0;
      left: 0;
      padding: 25px 10px 10px 10px;
      font-size: 250%;
      color: #fff;
    }
  }
  
  li.selected {
    border-left: solid 1px #26150b;
    border-right: solid 1px #26150b;
    background-color: #c66f39;
  }
}
  
#menu-page {
  @extend %clearfix;
  z-index: 5;   
  top: 85px;
  width: 100%;
  position: fixed;
  background-color: #c66f39;
  padding: 10px 0;
  border-top: solid 1px #26150b;
  border-bottom: solid 1px #26150b;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
  
  ul {
  	list-style-type: none;
  }
  	
  li {
  	float: left;
  	padding: 0 10px;
  	margin-right: 30px;		
  }
  
  li.selected {
  	border: solid 1px #26150b;
  	background-color: #fff;
  	border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-weight: bold;
  }
}

#contacts {
  position: fixed;
  z-index: 10;   	
  top: 5px;
  right: 5px;
  z-index: 10;
  font-size: 115%;
  background-color: #fff;
  border: solid 1px #26150b;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 15px;
  line-height: 130%;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: bold;
	
  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;		
  }	
}

main {
  @extend %clearfix; 
  padding: 30px 40px;
  
  img {
  	float: left;
  	margin-top: 15px;
  	margin-bottom: 15px;
  	margin-right: 30px;
  }  
}

main section {
  @extend %clearfix;   
}

main .main-argument {
  @extend %clearfix; 
}

main .argument {
  @extend %clearfix; 
  border-top: solid 1px #ccc;
  margin-top: 10px;
  padding-top: 20px;
  
}

main .solution {
  position: relative;
  float: left;
  width: 45%;
  padding: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  border: solid 1px #000;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
  line-height: 150%;
  
  .options li.selected {
    border: solid 1px #26150b;
    background-color: #eee;
    border-radius: 5px;
  }
	
  .price {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}

main .filter {
  height: 150px;
  border: solid 1px #ccc;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 25px;
  
  p {
  	float: left;
  	width: 20%;
  	padding-left: 10%;
  	margin-top: 60px;
  	opacity: 0.5;
  }
}

main .param {
  position: relative; 
  float: left;
  width: 29%;
  padding: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
  line-height: 125%;
  
  img {
  	box-shadow: none;
  }
  
  .price {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }   
}

main .stair {
  @extend %clearfix; 
  position: relative;
  border-top: solid 1px #ccc;
  padding: 10px 0;
  
  .price {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }   
}

main .next {
  font-size: 175%;
  background-color: #eee;
  border-top: solid 1px #ccc;  
  border-bottom: solid 1px #ccc;  
  margin: 0 -40px;
  padding: 20px 40px;
}	
  
footer {
  overflow: hidden; //TODO: remove
  opacity: 0.5;
  background-color: #eee;
  font-size: 80%;
  padding-left: 30px;
  padding-bottom: 10px;
  
  ul {
  	float: left;	
  }
}
