---
permalink: /подобрать-лестницу/по-каталогу/
title: Подобрать лестницу по каталогу
layout: catalog
---
{% assign stairs = site.data.stairs | sort:'position' %}

<article id="article">

  <header>
    <h1>{{ page.title }}</h1>
    <p>
      На этой странице представлен полный каталог наших лестниц. Вы можете узнать про каждую из лестниц подробнее, нажав на название модели. Нажмите на звездочку, что запомнить понравившуюся модель. Показывать <a class="flip-left">правозаходные</a> модификации.
    </p>
  </header>

  <section class="stairs">

    {% for stair in stairs %}
    {% assign stair_page = site.contents | where:'stair',stair.name | first %}
    <article class="stair">

      <div class="image">
        <img src="{{ stair.image | replace:'<size>','200x300' }}" width="200px" height="300px" class="flipped-right">
      </div>

      <div class="brief">
        <h2>
          <a href="{{ stair_page.permalink }}">Лестница {{ stair.name }}</a>
          <span class="star fa fa-star-o" data-stair="{{ stair.slug }}"></span>
          <div class="price">
            {% if stair.presence %}
            {{ stair.price }}
            <span class="fa fa-rub"></span>
            {% else %}
            звоните
            {% endif %}
          </div>
        </h2>
        <p class="text">{{ stair.text }}</p>
        <div class="cards">
          <table class="compact">
            <tr><th>Поворот</th><td>{{ stair.turn }} градусов</td></tr>
            <tr>
              <th>Высота</th>
              <td>от {{ stair.height_min }} (опт. {{ stair.height_opt }})</td>
            </tr>
            <tr><th>Проем</th><td>от {{ stair.window_min }}</td></tr>
            <tr><th>Древесина</th><td>{{ stair.wood }}</td></tr>
          </table>
          {% for photo in stair.photos %}
          <img src="{{ photo.image | replace:'<size>','200x150' }}" width="200px" height="150px" class="zoomable"
            data-source="{{ photo.image | replace:'<size>','1000x750' }}"
            data-source-width="1000"
            data-source-height="750"
            data-source-title="Лестница {{ stair.name }}">
          {% endfor %}
        </div>
      </div>

    </article>
    {% endfor %}

  </section>

  <footer>
    <a href="/купить-лестницу/">Шаг №3. Перейти к покупке лестницы!</a>
  </footer>

</article>

