---
permalink: /подобрать-лестницу/по-каталогу/
title: Подобрать лестницу по каталогу
layout: catalog
---
{% assign stairs = site.data.stairs | sort:'position' %}

<article id="article">

  <header>
    <h1>{{ page.title }}</h1>
    <p class="intro">
      На этой странице представлен полный каталог наших лестниц. Вы можете узнать про каждую из лестниц подробнее, нажав на название модели. Нажмите на звездочку, что запомнить понравившуюся модель. Показывать <a class="flip-left">левозаходные</a> модификации.
    </p>
  </header>

  <section class="stairs">

    {% for stair in stairs %}
    {% assign stair_page = site.contents | where:'stair',stair.name | first %}
    <article class="stair">

      <div class="image">
        <img class="flipped-right" src="{{ stair.image | replace:'<size>','200x300' }}" width="200px" height="300px">
      </div>

      <div class="brief">
        <h2>
          <a href="{{ stair_page.permalink }}">Лестница {{ stair.name }}</a>
          <span class="star fa fa-star-o" data-stair="{{ stair.slug }}"></span>
          <div class="price">
            {% if stair.presence %}

            {{ stair.price }}
            <span class="fa fa-rub"></span>
            {% else %}
            звоните
            {% endif %}
          </div>
        </h2>
        <p class="text">{{ stair.text }}</p>
        <div class="cards">
          <table>
            <tr><th>Поворот</th><td>{{ stair.turn }}</td></tr>
            <tr><th>Проем</th><td>{{ stair.window }}</td></tr>
            <tr><th>Высота</th><td>{{ stair.height }}</td></tr>
            <tr><th>Древесина</th><td>{{ stair.wood }}</td></tr>
          </table>
          {% for photo in stair.photos %}
          <img width="200px" height="150px" src="{{ photo.image | replace:'<size>','200x150' }}">
          {% endfor %}
        </div>
      </div>

    </article>
    {% endfor %}

  </section>

  <footer>
    <a href="/купить-лестницу/">Перейти к покупке лестницы!</a>
  </footer>

</article>

