---
permalink: /купить-лестницу/дилеры/
title: Купить лестницу у наших дилеров
layout: dealers
section: order
page: dealers
---

<article id="article">

  <header>
    <h1>{{ page.title }}</h1>
    <p>Наши лестницы можно купить у наших дилеров в более чем 10 городах России. Вы можете найти подходящего дилера, воспользовавшись картой или списком. Если у вас возникли какие-либо вопросы, позвоните в наш центральный офис, и мы поможем вам.</p>
    <ul>
      <li><a href="#на-карте">дилеры на карте</a></li>
      <li><a href="#списком">дилеры списком</a></li>
    </ul>
  </header>

  <section>

    <h2 id="на-карте">Дилеры на карте</h2>

    <div id="map"></div>

    <h2 id="списком">Дилеры списком</h2>

    <table>
      <tr>
        <th>№</th>
        <th>Регион</th>
        <th>Адрес</th>
        <th>Телефоны</th>
        <th>Название</th>
        <th>Информация</th>
      </tr>
      {% for shop in site.data.shops %}
      <tr id="дилер-{{ forloop.index }}">
        <th class="index">{{ forloop.index  }}</th>
        <td class="region">{{ shop.region  }}</td>
        <td class="address">{{ shop.address  }}</td>
        <td class="phones">
          {% for phone in shop.phones %}
          {{ phone }}<br>
          {% endfor %}
        </td>
        <td class="name">{{ shop.name  }}</td>
        <td class="comment">{{ shop.comment  }}</td>
      </tr>
      {% endfor %}
    </table>

  </section>

  <footer>
    <a href="/">Звоните, приезжайте. Мы всегда рады вам!</a>
  </footer>

</article>
