---
permalink: /подобрать-лестницу/по-параметрам/
title: Подобрать лестницу по параметрам
layout: base
section: select
page: params
---
{% assign stairs = site.data.stairs | sort:'position' %}

<article id="article">

  <header>
    <h1>{{ page.title }}</h1>
    <p>
      На этой странице вы можете подобрать лестницу исходя из параметров своего помещения и характеристик лестницы. Наш алгоритм отсеет лестницы, которые вам не подходят, и отсортирует лестницы по степени соответствия вашим требованиям. Показывать <a class="flip-left">правозаходные</a> модификации.
    </p>
  </header>

  <section class="filters">

    <section class="filter turn">
      <h3>Поворот</h3>
      <p>Повотор лестницы, градусы</p>
      <table>
        <tr>
          <td><input class="option" type="text" value="0" readonly></td>
          <td><input class="option" type="text" value="90" readonly></td>
        </tr>
        <tr>
          <td><input class="option" type="text" value="180" readonly></td>
          <td><input class="option" type="text" value="270" readonly></td>
        </tr>
      </table>
    </section>

    <section class="filter height">
      <h3>Высота</h3>
      <p>Ваша высота от пола до пола, м</p>
      <table>
        <tr>
          <td><input class="value" type="number" min="2" max="4" step="0.1"></td>
        </tr>
      </table>
    </section>

    <section class="filter window">
      <h3>Проем</h3>
      <p>Ваши размеры проема, м x м</p>
      <table>
      <tr>
        <td><input class="value length" type="number" min="0" max="4" step="0.1"></td>
        <td>x</td>
        <td><input class="value width" type="number" min="0" max="4" step="0.1"></td>
      </tr>
      </table>
    </section>

    <section class="filter wood">
      <h3>Древесина</h3>
      <p>Материал лестницы</p>
      <table>
        <tr>
          <td><input class="option" type="text" value="хвоя" readonly></td>
          <td><input class="option" type="text" value="сосна" readonly></td>
        </tr>
        <tr>
          <td><input class="option" type="text" value="береза" readonly></td>
          <td><input class="option" type="text" value="бук" readonly></td>
        </tr>
      </table>
    </section>

  </section>

  <section class="message">
    Подходящих лестниц: <span class="count">{{ stairs.size }}</span>
  </section>

  <section class="stairs">

    {% for stair in stairs %}
    {% assign stair_page = site.contents | where:'stair',stair.name | first %}

    <article class="stair"
             data-slug="{{ stair.slug }}"
             data-turn="{{ stair.turn }}"
             data-height_min="{{ stair.height_min }}"
             data-height_opt="{{ stair.height_opt }}"
             data-window_min="{{ stair.window_min }}"
             data-wood="{{ stair.wood }}">

      <div class="image">
        <img src="{{ stair.image | replace:'<size>','200x300' }}"
             width="200px" height="300px" class="flipped-right">
      </div>

      <div class="content">

        <h2>
          <a href="{{ stair_page.permalink }}">{{ stair.name }}</a>
          <span class="star fa fa-star-o" data-stair="{{ stair.slug }}"></span>
          <div class="price">
            {% if stair.presence %}
            {{ stair.price }}
            <span class="fa fa-rub"></span>
            {% else %}
            звоните
            {% endif %}
          </div>
        </h2>

        <ul>
          <li>Поворот: {{ stair.turn }} градусов</li>
          <li>Высота: от {{ stair.height_min }} (опт. {{ stair.height_opt }})</li>
          <li>Проем: от {{ stair.window_min }}</li>
          <li>Древесина: {{ stair.wood }}</li>
        </ul>

      </div>

    </article>

    {% endfor %}

  </section>

  <footer>
    <a href="/купить-лестницу/">Шаг №3. Перейти к покупке лестницы!</a>
  </footer>

</article>
