---
permalink: /подобрать-лестницу/
title: Подобрать лестницу по решению
layout: select
---
{% assign solutions = site.data.solutions | sort:'position' %}
{% assign stairs = site.data.stairs | where:'presence',true | sort:'position' %}

<main>

  <section class="header">
    <h1>{{ page.title }}</h1>
    <p>Для облегчения вашего выбора мы подготовили наиболее интересные. Нажмите на звездочку, что запомнить понравившуюся модель.
    </p>
  </section>

  <section class="solutions">

    {% for solution in solutions %}
    {% for option in solution.options %}
    {% unless default_stair %}
    {% assign default_stair = stairs | where:'name',option.stair | first %}
    {% endunless %}
    {% endfor %}
    {% if default_stair %}
    {% assign default_stair_page = site.contents | where:'stair',default_stair.name | first %}

    <div class="solution">

      <h2>
        <a href="{{ default_stair_page.permalink }}">
          {{ solution.name }} &rsaquo;
          <span class="name">{{ default_stair.name }}</span>
        </a>
        <span class="fa fa-star-o"></span>
        <div class="price">
          <span class="value">{{ default_stair.price }}</span>
          <span class="fa fa-rub"></span>
        </div>
      </h2>

      <div class="box">
        <div class="image">
          <img width="150" src="{{ default_stair.image | replace:'<size>','200x300' }}">
        </div>
        <div class="content">
          <div class="text">{{ solution.text }}</div>
          <div class="options">
            <ul>
              {% for option in solution.options %}
              {% assign stair = stairs | where:'name',option.stair | first %}
              {% assign stair_page = site.contents | where:'stair',stair.name | first %}
              {% if stair %}
              <li {% if stair == default_stair %}class="active"{% endif %}
                data-name="{{ stair.name }}"
                data-image="{{ stair.image | replace:'<size>','200x300' }}"
                data-href="{{ stair_page.permalink }}"
                data-price="{{ stair.price }}">
                {{ stair.name }}
                {% if option.descr %}
                - {{ option.descr }}
                {% endif %}
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>

    {% assign default_stair = null %}
    {% endif %}
    {% endfor %}

    <div class="solution">
      <h2><a href="/изготовление-лестниц-на-заказ/">Изготовление на заказ</a></h2>
      <div class="content">
        <div class="text">
          Если вы не смогли подобрать подходящую лестницу.
        </div>
      </div>
    </div>

  </section>

  <section class="next">
    <a href="/купить-лестницу/">Перейти к покупке лестницы!</a>
  </section>

</main>
