---
permalink: /подобрать-лестницу/
title: Подобрать лестницу по решению
layout: select
section: select
page: select
---
{% assign solutions = site.data.solutions | sort:'position' %}
{% assign stairs = site.data.stairs | sort:'position' %}

<article id="article">

  <header>
    <h1>{{ page.title }}</h1>
    <p>
      Мы уже 20 лет помогаем людям обустраивать их дома. За это время мы создали более 25 оригинальных моделей лестниц (повсеместно копируемых). На этой странице мы представляем обзор наших лестниц, сгруппированных по их типу. Показывать <a class="flip-left">правозаходные</a> модификации.
    </p>
  </header>

  <section class="solutions">

    {% for solution in solutions %}
    {% for option in solution.options %}
    {% unless default_stair %}
    {% assign default_stair = stairs | where:'name',option.stair | first %}
    {% endunless %}
    {% endfor %}
    {% if default_stair %}
    {% assign default_stair_page = site.contents | where:'stair',default_stair.name | first %}

    <article class="solution">

      <h2>

        <a href="{{ default_stair_page.permalink }}">
          {{ solution.name }} &rsaquo;
          <span class="name">{{ default_stair.name }}</span>
        </a>

        <span class="star fa fa-star-o" data-stair="{{ default_stair.slug }}">
        </span>

        <div class="price">
          {% if default_stair.presence %}
          <span class="value">{{ default_stair.price }}</span>
          {% else %}
          звоните
          {% endif %}
          <span class="currency fa fa-rub"></span>
        </div>

      </h2>

      <div class="container">

        <div class="image">
          <img src="{{ default_stair.image | replace:'<size>','200x300' }}" width="200px" height="300px" class="flipped-right">
        </div>

        <div class="content">

          <p class="text">
            {{ solution.text }}
          </p>

          <div class="items">

            <ul class="options">
              {% for option in solution.options %}
              {% assign stair = stairs | where:'name',option.stair | first %}
              {% assign stair_page = site.contents | where:'stair',stair.name | first %}
              {% if stair %}
              <li {% if stair == default_stair %}class="active"{% endif %}>
                <a data-name="{{ stair.name }}"
                   data-slug="{{ stair.slug }}"
                   data-image="{{ stair.image | replace:'<size>','200x300' }}"
                   data-href="{{ stair_page.permalink }}"
                   data-presence="{{ stair.presence }}"
                   data-turn="{{ stair.turn }}"
                   data-height_min="{{ stair.height_min }}"
                   data-height_opt="{{ stair.height_opt }}"
                   data-window_min="{{ stair.window_min }}"
                   data-wood="{{ stair.wood }}"
                   data-price="{% if stair.presence %}{{ stair.price }}{% else %}звоните{% endif %}">
                  {{ stair.name }}
                  {% if option.descr %}
                  - {{ option.descr }}
                  {% endif %}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>

            <table class="params compact">
              <tr>
                <th>Поворот</th>
                <td>
                  <span class="turn">{{ default_stair.turn }}</span> градусов
                </td>
              </tr>
              <tr>
                <th>Высота</th>
                <td>
                  от <span class="height_min">{{ default_stair.height_min }}</span>
                  (опт. <span class="height_opt">{{ default_stair.height_opt }}</span>)
                </td>
              </tr>
              <tr>
                <th>Проем</th>
                <td>
                  от <span class="window_min">{{ default_stair.window_min }}</span>
                </td>
              </tr>
              <tr>
                <th>Древесина</th>
                <td>
                  <span class="wood">{{ default_stair.wood }}</span>
                </td>
              </tr>
            </table>

          </div>

        </div>

      </div>

    </article>

    {% assign default_stair = null %}
    {% endif %}
    {% endfor %}

    <article class="solution">
      <h2><a href="/изготовление-лестниц-на-заказ/">Изготовление на заказ</a></h2>
      <div class="content">
        <div class="text">
          Если вы не смогли подобрать подходящую лестницу, то мы можем изготовить ее на заказ. Пожалуйста ознакомьтесь с дополнительной <a href="/изготовление-лестниц-на-заказ">информацией по изготовлению лестниц на заказ</a> или позвоните нам по телефону для консультации.
        </div>
      </div>
    </article>

  </section>

  <footer>
    <a href="/купить-лестницу/">Шаг №3. Перейти к покупке лестницы!</a>
  </footer>

</article>

