---
permalink: /подобрать-лестницу/
title: Подобрать лестницу по решению
layout: select
---
{% assign solutions = site.data.solutions | sort:'position' %}
{% assign stairs = site.data.stairs | sort:'position' %}

<article id="article">

  <header>
    <h1>{{ page.title }}</h1>
    <p>Для облегчения вашего выбора мы подготовили наиболее интересные. Нажмите на звездочку, что запомнить понравившуюся модель.
    </p>
  </header>

  <section class="solutions">

    {% for solution in solutions %}
    {% for option in solution.options %}
    {% unless default_stair %}
    {% assign default_stair = stairs | where:'name',option.stair | first %}
    {% endunless %}
    {% endfor %}
    {% if default_stair %}
    {% assign default_stair_page = site.contents | where:'stair',default_stair.name | first %}

    <article class="solution">

      <h2 class="heading">

        <a href="{{ default_stair_page.permalink }}">
          {{ solution.name }} &rsaquo;
          <span class="name">{{ default_stair.name }}</span>
        </a>

        <span class="fa fa-star-o">
        </span>

        <div class="price">
          {% if default_stair.presence %}
          <span class="value">{{ default_stair.price }}</span>
          {% else %}
          звоните
          {% endif %}
          <span class="currency fa fa-rub"></span>
        </div>

      </h2>

      <div class="container">

        <div class="image">
          <img src="{{ default_stair.image | replace:'<size>','200x300' }}" width="150px" height="225px">
        </div>

        <div class="content">

          <p class="text">
            {{ solution.text }}
          </p>

          <div class="items">

            <table class="options">
              {% for option in solution.options %}
              {% assign stair = stairs | where:'name',option.stair | first %}
              {% assign stair_page = site.contents | where:'stair',stair.name | first %}
              {% if stair %}
              <tr><th {% if stair == default_stair %}class="active"{% endif %}>
                <a data-name="{{ stair.name }}"
                   data-image="{{ stair.image | replace:'<size>','200x300' }}"
                   data-href="{{ stair_page.permalink }}"
                   data-presence="{{ stair.presence }}"
                   data-turn="{{ stair.turn }}"
                   data-window="{{ stair.window }}"
                   data-height="{{ stair.height }}"
                   data-wood="{{ stair.wood }}"
                   data-price="{% if stair.presence %}{{ stair.price }}{% else %}звоните{% endif %}">
                  {{ stair.name }}
                  {% if option.descr %}
                  - {{ option.descr }}
                  {% endif %}
                </a>
              </th></tr>
              {% endif %}
              {% endfor %}
            </table>

            <table class="params">
              <tr><th>Поворот</th><td class="turn">{{ default_stair.turn }}</td></tr>
              <tr><th>Проем</th><td class="window">{{ default_stair.window }}</td></tr>
              <tr><th>Высота</th><td class="height">{{ default_stair.height }}</td></tr>
              <tr><th>Древесина</th><td class="wood">{{ default_stair.wood }}</td></tr>
            </table>

          </div>

        </div>

      </div>

    </article>

    {% assign default_stair = null %}
    {% endif %}
    {% endfor %}

    <article class="solution">
      <h2><a href="/изготовление-лестниц-на-заказ/">Изготовление на заказ</a></h2>
      <div class="content">
        <div class="text">
          Если вы не смогли подобрать подходящую лестницу.
        </div>
      </div>
    </article>

  </section>

  <footer>
    <a href="/купить-лестницу/">Шаг №3. Перейти к покупке лестницы!</a>
  </footer>

</article>

