---
permalink: /купить-лестницу/дилеры/
title: Купить лестницу у наших дилеров
layout: shops
---

<article id="article">

  <header>
    <h1>{{ page.title }}</h1>
    <p>Наша продукция широко представлена в целом ряде сетевых магазинов.</p>
  </header>

  <section>

    <h2>Магазины на карте</h2>

    <div id="map"></div>

    <h2>Магазины списком</h2>

    <table>
      <tr>
        <th>№</th>
        <th>Регион</th>
        <th>Адрес</th>
        <th>Телефоны</th>
        <th>Название</th>
        <th>Информация</th>
      </tr>
      {% for shop in site.data.shops %}
      <tr id="магазин-{{ forloop.index }}">
        <th class="index">{{ forloop.index  }}</th>
        <td class="region">{{ shop.region  }}</td>
        <td class="address">{{ shop.address  }}</td>
        <td class="phones">
          {% for phone in shop.phones %}
          {{ phone }}<br>
          {% endfor %}
        </td>
        <td class="name">{{ shop.name  }}</td>
        <td class="comment">{{ shop.comment  }}</td>
      </tr>
      {% endfor %}
    </table>

  </section>

  <footer>
    <a href="/">Звоните, пишите, приезжайте!</a>
  </footer>

</article>
