<!doctype html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ descriptioin | default(site.description) }}">
  <meta name="keywords" content="{{ keywords | default(site.keywords) }}">

  <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>

  <link rel="icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/favicon.ico">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,700%7CUbuntu+Condensed:400&amp;subset=latin,cyrillic">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/main.css">

  <!-- CoMagic -->
  <script type="text/javascript">
    var __cs = __cs || [];
    __cs.push(["setAccount", "NnuC_q9cu8MyHIFyeMa3OFkyrZvP3W1Q"]);
    __cs.push(["setHost", "//server.comagic.ru/comagic"]);
  </script>
  <script type="text/javascript" async src="//app.comagic.ru/static/cs.min.js"></script>

</head>
<body  data-route="{{ route }}">

  {% include 'blocks/header.html' %}

  <main class="main">
    {% block contents %}
    {{ contents }}
    {% endblock %}
  </main>

  {% include 'blocks/guide.html' %}
  {% include 'blocks/footer.html' %}
  {% include 'blocks/help.html' %}
  {% include 'blocks/menu.html' %}

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/uikit.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/components/tooltip.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/components/sticky.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/components/lightbox.min.js"></script>
  <script src="/scripts/main.js"></script>

  <!-- Google Analytics -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17358822-2']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_addOrganic', 'images.yandex.ru',  'q', true]);
    _gaq.push(['_addOrganic', 'mail.ru',  'q']);
    _gaq.push(['_addOrganic', 'go.mail.ru',  'q']);
    _gaq.push(['_addOrganic', 'rambler.ru',  'query']);
    _gaq.push(['_addOrganic', 'nigma.ru', 's']);
    _gaq.push(['_addOrganic', 'webalta.ru', 'q']);
    _gaq.push(['_addOrganic', 'aport.ru', 'r']);
    _gaq.push(['_addOrganic', 'poisk.ru', 'text']);
    _gaq.push(['_addOrganic', 'km.ru', 'sq']);
    _gaq.push(['_addOrganic', 'liveinternet.ru', 'ask']);
    _gaq.push(['_addOrganic', 'quintura.ru', 'request']);
    _gaq.push(['_addOrganic', 'qip.ru', 'query']);
    _gaq.push(['_addOrganic', 'gde.ru', 'keywords']);
    _gaq.push(['_addOrganic', 'gogo.ru', 'q']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    setTimeout('_gaq.push(["_trackEvent","Accurate bounce rate", "time on page more than 60 seconds"])', 60000);
  </script>

  <!-- Yandex Metrika -->
  <script>
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter29753208 = new Ya.Metrika({id:29753208,
            webvisor:true,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true});
        } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  </script>

  <!-- LiveInternet -->
  <div style="display:none;">
    <script><!--
      document.write("<a href='//www.liveinternet.ru/click' "+
      "target=_blank><img src='//counter.yadro.ru/hit?t44.1;r"+
      escape(document.referrer)+((typeof(screen)=="undefined")?"":
      ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
      screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
      ";"+Math.random()+
      "' alt='' title='LiveInternet' "+
      "border='0' width='31' height='31'><\/a>")
    //--></script>
  </div>

</body>
</html>
