---
permalink: /
title: Деревянные лестницы на второй этаж
description: Ведущий производитель готовых деревянных лестниц в России
keywords: деревянные лестницы
layout: base.html
route: index
---

<article class="article">

  <div class="hero">
    <div class="hero-container">

      <h1 id="лидеры">Ведущий производитель деревянных лестниц в России</h1>

      <div class="hero-content">

        <figure class="hero-figure">
          {% set active = true %}
          {% for product in lists.products %}
          {% set product = products[product] %}
          {% for photo in product.photos %}
          {% if active %}
          {% if photo.home %}
          <img class="hero-image"
               src="{{ photo.image | replace('<size>','600x450') }}"
               alt="Лестница {{ product.name }}"
               width="600" height="450">
          <figcaption class="hero-caption">
            <a class="hero-link"
               title="Перейти к карточке модели {{ product.name }}"
               href="/подобрать-лестницу/по-каталогу/{{ product.slug }}/">
              Лестница <span class="hero-link-name">{{ product.name }}</span>
            </a>
            <div class="hero-price">
              <span class="hero-price-value">{{ product.price }}</span>
              <span class="currency fa fa-rub"></span>
            </div>
          </figcaption>
          {% set active = false %}
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </figure>

        <div class="hero-descr">

          <div class="hero-text">
            Лесопромышленная компания «Темп» предлагает готовые деревянные
            лестницы на второй этаж для дач и коттеджей. Наша компания уже более
            15 лет на рынке и за это время приобрела устойчивый статус одного из
            лидеров отрасли.
          </div>

          <div class="hero-thumbs">
            {% set active = 'hero-thumb--active' %}
            {% for product in lists.products %}
            {% set product = products[product] %}
            {% for photo in product.photos %}
            {% if photo.home %}
            <a href="#" class="hero-thumb {{ active }}" title="Показать лестницу {{ product.name | escape }}"
              data-name="{{ product.name }}"
              data-price="{{ product.price }}"
              data-link="/подобрать-лестницу/по-каталогу/{{ product.slug }}/"
              data-image="{{ photo.image | replace('<size>','600x450') }}">
              <img src="{{ photo.image | replace('<size>','200x150') }}"
                   alt="Лестница {{ product.name }}"
                   width="200" height="150">
            </a>
            {% set active = '' %}
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="feature">
    <div class="feature-container">

      <img class="feature-image"
           src="/images/products/photos/600x450/lv14b-1.jpg"
           alt="Высокое качество"
           width="600" height="450">

      <div class="feature-text">
        <h2 class="feature-heading" id="качество">Высокое качество</h2>
        <p>
          В настоящее время производство лестниц сосредоточено в Москве
          (разработка и макетирование, выпуск рабочей документации,
          производство опытных образцов и установочных партий, полное
          изготовление буковых лестниц, изготовление металлических деталей
          всех лестниц, складирование готовой продукции, демонстрация образцов
          лестниц в торгово-выставочном зале, создание рекламной продукции.
        </p>
      </div>

    </div>
  </div>

  <div class="feature">
    <div class="feature-container">

      <img class="feature-image"
           src="/images/products/photos/600x450/ls01u-1.jpg"
           alt="Доступная цена"
           width="600" height="450">

      <div class="feature-text">
        <h2 class="feature-heading" id="цена">Доступная цена</h2>
        <p>
          Выбор и покупку лестниц рекомендуем делать в нашем торгово-выставочном
          зале, в котором размещена единственная полная экспозиция нашей продукции.
          Опытные продавцы-консультанты помогут вам сделать правильный выбор,
          подскажут, как адаптировать нашу готовую лестницу под Ваши конкретные
          условия и при необходимости примут заказ на продажу или изготовление
          дополнительных деталей.
        </p>
      </div>

    </div>
  </div>

  <div class="feature">
    <div class="feature-container">

      <img class="feature-image"
           src="/images/contents/order-1.jpg"
           alt="Не надо ждать"
           width="600" height="450">

      <div class="feature-text">
        <h2 class="feature-heading" id="скорость">Не надо ждать</h2>
        <p>
          В России мы оказались пионерами подобного подхода применительно
          к лестницам и к концу первого десятилетия начавшегося века нам
          удалось занять ведущее положение как на Российском, так и на
          зарубежных рынках. К концу 2009 года наши лестницы продаются
          в Москве и области, Санкт-Петербурге и Ленинградской области,
          в Новосибирске, Самаре, Ростове-на-Дону, Краснодаре, Омске,
          Воронеже, Туле, Уфе, в Эстонии, Латвии, Литве и Финляндии.
        </p>
      </div>

    </div>
  </div>

  <div class="feature">
    <div class="feature-container">

      <img class="feature-image"
           src="/images/contents/order-1.jpg"
           alt="Шоурум в Москве"
           width="600" height="450">

      <div class="feature-text">
        <h2 class="feature-heading" id="шоурум">Шоурум в Москве</h2>
        <p>
          В России мы оказались пионерами подобного подхода применительно
          к лестницам и к концу первого десятилетия начавшегося века нам
          удалось занять ведущее положение как на Российском, так и на
          зарубежных рынках. К концу 2009 года наши лестницы продаются
          в Москве и области, Санкт-Петербурге и Ленинградской области,
          в Новосибирске, Самаре, Ростове-на-Дону, Краснодаре, Омске,
          Воронеже, Туле, Уфе, в Эстонии, Латвии, Литве и Финляндии.
        </p>
      </div>

    </div>
  </div>

</article>
