---
permalink: /
title: Деревянные лестницы на второй этаж
description: Ведущий производитель готовых деревянных лестниц в России
keywords: деревянные лестницы
layout: base.html
route: index
---

<article class="article">

  <div class="hero">
    <div class="hero-container">

      <h1 id="лидеры">Ведущий производитель деревянных лестниц в России</h1>

      <div class="hero-content">

        <figure class="hero-figure">
          {% set active = true %}
          {% for product in lists.products %}
          {% set product = products[product] %}
          {% for photo in product.photos %}
          {% if active %}
          {% if photo.home %}
          <img class="hero-image"
               src="{{ photo.image | replace('<size>','600x450') }}"
               alt="Лестница {{ product.name }}"
               width="600" height="450">
          <figcaption class="hero-caption">
            <a class="hero-link"
               title="Перейти к карточке модели {{ product.name }}"
               href="/подобрать-лестницу/по-каталогу/{{ product.slug }}/">
              Лестница <span class="hero-link-name">{{ product.name }}</span>
            </a>
            <div class="hero-price">
              <span class="hero-price-value">{{ product.price }}</span>
              <span class="currency fa fa-rub"></span>
            </div>
          </figcaption>
          {% set active = false %}
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </figure>

        <div class="hero-descr">

          <div class="hero-text">
            Лесопромышленная компания «Темп» предлагает готовые деревянные
            лестницы на второй этаж для дач и коттеджей. Наша компания уже более
            20 лет на рынке и за это время приобрела устойчивый статус
            лидера.
          </div>

          <div class="hero-thumbs">
            {% set active = 'hero-thumb--active' %}
            {% for product in lists.products %}
            {% set product = products[product] %}
            {% for photo in product.photos %}
            {% if photo.home %}
            <a href="#" class="hero-thumb {{ active }}" title="Показать лестницу {{ product.name | escape }}"
              data-name="{{ product.name }}"
              data-price="{{ product.price }}"
              data-link="/подобрать-лестницу/по-каталогу/{{ product.slug }}/"
              data-image="{{ photo.image | replace('<size>','600x450') }}">
              <img src="{{ photo.image | replace('<size>','200x150') }}"
                   alt="Лестница {{ product.name }}"
                   width="200" height="150">
            </a>
            {% set active = '' %}
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="feature">
    <div class="feature-container">


      <figure class="feature-figure">
        <img class="feature-image"
             src="/images/products/photos/600x450/lv14b-1.jpg"
             alt="Высокое качество"
             width="600" height="450">
        <figcaption class="feature-caption">
          Поверено временем
        </figcaption>
        <a title="Подобрать лестницу"
           class="uk-position-cover"
           href="/подобрать-лестницу/">
        </a>
      </figure>

      <div class="feature-text">
        <h2 class="feature-heading" id="качество">Высокое качество</h2>
        <blockquote>Лестницы завода «Темп» - это знак качества</blockquote>
        <p>
          Сегодня в России десятки тысяч домов построено с использованием
          наших лестниц. Этот факт говорит лучше любых других слов.
          Покупая лестницу завода «Темп», вы покупаете качество,
          которое проверено временем и тысячами других людей.<br>
          <a href="/подобрать-лестницу/">Приступить к выбору лестницы.</a>
        </p>
      </div>

    </div>
  </div>

  <div class="feature">
    <div class="feature-container">

      <figure class="feature-figure">
        <img class="feature-image"
             src="/images/products/photos/600x450/ls01u-1.jpg"
             alt="Доступная цена"
             width="600" height="450">
        <figcaption class="feature-caption">
          Лестницы от {{ products['ls91'].price }}
          <span class="fa fa-ruble"></span>
        </figcaption>
        <a title="Подобрать лестницу"
           class="uk-position-cover"
           href="/подобрать-лестницу/">
        </a>
      </figure>

      <div class="feature-text">
        <h2 class="feature-heading" id="цена">Доступная цена</h2>
        <blockquote>Лестницы на заказ как минимум в несколько раз дороже!</blockquote>
        <p>
          В свое время мы совершили революцию на рынке деревянных лестниц,
          перейдя на серийное производство. Это позволило кардинально снизить
          цену при сохранении качества. Мы продолжаем лидировать в этой области,
          предлагая высокое качество за доступную цену.<br>
          <a href="/подобрать-лестницу/">Приступить к выбору лестницы.</a>
        </p>
      </div>

    </div>
  </div>

  <div class="feature">
    <div class="feature-container">

      <figure class="feature-figure">
        <img class="feature-image"
             src="/images/contents/order-1.jpg"
             alt="Торгово-выставочный зал"
             width="600" height="450">
        <figcaption class="feature-caption">
          Более 20 моделей!
        </figcaption>
        <a title="Посетить торгово-выставочный зал"
           class="uk-position-cover"
           href="/купить-лестницу/">
        </a>
      </figure>

      <div class="feature-text">
        <h2 class="feature-heading" id="скорость">Торгово-выставочный зал</h2>
        <blockquote>м. Тушинская, Волоколамское шоссе, д. 114, к.2</blockquote>
        <p>
          В Москве, недалеко от станции метро «Тушинская», расположен наш торгово-выставочный зал,
          уникальный по российским меркам. В зале представлено более 20 моделей
          лестниц! Мы вас подробно проконсультируем, а забрать свою лестницу
          вы сможете уже через несколько дней. <br>
          <a href="/купить-лестницу/">Подробнее про торгово-выставочный зал.</a>
        </p>
      </div>

    </div>
  </div>

</article>
