<!DOCTYPE html>
<html>
<head>

  <title>{{ page.title }} :: {{ site.title }}</title>

  <meta charset="utf-8">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ page.title }}{% endif %}" />

  <link href="/images/favicon.ico" rel="shortcut icon">

  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,700|Ubuntu+Condensed&subset=latin,cyrillic" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  <script src="/scripts/main.js"></script>

  <link href="/vendor/photoswipe-4.0.7/photoswipe.css" rel="stylesheet">
  <link href="/vendor/photoswipe-4.0.7/default-skin/default-skin.css" rel="stylesheet">
  <script src="/vendor/photoswipe-4.0.7/photoswipe.min.js"></script>
  <script src="/vendor/photoswipe-4.0.7/photoswipe-ui-default.min.js"></script>

  <script src="/vendor/bootstrap-3.3.4/bootstrap.min.js"></script>

</head>
<body data-layout="{{ page.layout }}" data-section="{{ page.section }}" data-page="{{ page.page }}">

  {% include header.html %}
  {% include contacts.html %}
  {% include site_menu.html %}

  {{ content }}

  {% include footer.html %}
  {% include gallery.html %}
  {% include counters.html %}

</body>
</html>

