---
layout: base
---

<nav id="page-menu">
  <ul>

    {% assign permalink = '/подобрать-лестницу/' %}
    <li {% if page.permalink == permalink %}class="active"{% endif %}>
      <a href="{{ permalink }}">по решению</a>
    </li>

    {% assign permalink = '/подобрать-лестницу/по-параметрам/' %}
    <li {% if page.permalink == permalink %}class="active"{% endif %}>
      <a href="{{ permalink }}">по параметрам</a>
    </li>

    {% assign permalink = '/подобрать-лестницу/по-каталогу/' %}
    <li {% if page.permalink contains permalink %}class="active"{% endif %}>
      <a href="{{ permalink }}">по каталогу</a>
    </li>

    <li><a href="/купить-лестницу/">лично в шоуруме</a></li>

  </ul>
</nav>

{{ content }}
