---
layout: select
---
{% assign stair = site.data.stairs | where:'name',page.stair | first %}

<article id="article">

  <header>

    <h1>
      {{ page.title }}
      <span class="star fa fa-star-o" data-stair="{{ stair.slug }}"></span>
      <div class="price">
        {% if stair.presence %}
        {{ stair.price }}
        <span class="fa fa-rub"></span>
        {% else %}
        звоните
        {% endif %}
      </div>
    </h1>

    <p class="intro">Показывать <a class="flip-left">левозаходные</a> модификации. Перейти в <a href="/подобрать-лестницу/по-каталогу/">каталог</a>.</p>

  </header>

  <section class="showcase">

    <div class="image">
      <img class="flipped-right" src="{{ stair.image | replace:'<size>','200x300' }}" width="200px" height="300px">
    </div>

    <div class="content">
      <p class="text">{{ stair.text }}</p>
      <div class="items">
        <table>
          <tr><th>Поворот</th><td>{{ stair.turn }}</td></tr>
          <tr><th>Проем</th><td>{{ stair.window }}</td></tr>
          <tr><th>Высота</th><td>{{ stair.height }}</td></tr>
          <tr><th>Древесина</th><td>{{ stair.wood }}</td></tr>
        </table>
        {% for photo in stair.photos %}
        <img width="200px" height="150px" src="{{ photo.image | replace:'<size>','200x150' }}">
        {% endfor %}
      </div>
    </div>

  </section>

  <section class="description">

    <h2>Дополнительные параметры</h2>
    <table>
    <thead>
      <tr>
        <th>Габариты в плане, м х м</th>
        <th>Перила</th>
        <th>Подступенки</th>
        <th>Отделка опорной колонны</th>
        <th>Высота шага, мм</th>
        <th>Число шагов подъема</th>
        <th>Толщина ступени, мм</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ stair.size }}</td>
        <td>{% if stair.rail %}есть{% else %}нет{% endif %}</td>
        <td>{% if stair.riser %}есть{% else %}нет{% endif %}</td>
        <td>{% if stair.finish %}есть{% else %}нет{% endif %}</td>
        <td>{{ stair.step_height }}</td>
        <td>{{ stair.step_quantity }}</td>
        <td>{{ stair.step_depth }}</td>
      </tr>
    </tbody>
    </table>

    {% if stair.boxes %}
    <h2>Упаковка</h2>
    <table>
    <thead>
      <tr>
        <th style="width: 33%;">Номер упаковки</th>
        <th style="width: 33%;">Габариты, мм</th>
        <th style="width: 33%;">Масса брутто, кг</th>
      </tr>
    </thead>
    <tbody>
      {% for box in stair.boxes %}
      <tr>
        <td>{{ forloop.index }}</td>
        <td>{{ box.size }}</td>
        <td>{{ box.weight }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% endif %}

    {{ content }}

  </section>

  <footer>
    <a href="/купить-лестницу/">Перейти к покупке лестницы!</a>
  </footer>

</article>
