html {
  font-size: $rem-value;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
  color: #000;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: $brand-color;
}

table {
  text-align: left;

  th, td {
    padding: 0.25rem 0.5rem;
    border: solid 1px lighten($grey-color, 10%);
  }

  th {
    background-color: #f8f8f8;
    font-family: $header-font-family;
    color: #000;
  }

  td {
    font-size: 0.9em;
  }

  &.compact {
    th, td {
      padding: 0 0.5rem;
    }
  }
}

figcaption {
  font-family: $header-font-family;
  line-height: $header-line-height;
}

ul {
  list-style-position: inside;
}

%topclear {
  &::before {
    content: "";
    display: table;
  }
}

%bottomclear {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

%text-shadow {
  text-shadow: 1px 1px 0.1rem #333;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  align-items: center;
  height: $site-menu-height;
  z-index: 2;
  background: linear-gradient(
    to bottom, $style-color, lighten($style-color, 10%));
  color: #fff;

  .logo {
    @extend %text-shadow;
    margin-left: 1rem;
  	font-size: 200%;
  	font-family: $header-font-family;
  	text-decoration: none;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#contacts {
  display: flex;
  position: fixed;
  top: 0.25rem;
  box-sizing: border-box;
  height: $site-menu-height + $page-menu-height - 0.5rem;
  right: 0.25rem;
  z-index: 4;
  align-items: center;
  padding: 0 0.5rem;
  border: solid 1px $style-color;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem $background-color;
  background-color: $background-color;
  line-height: 1.33;
  font-size: 1.1em;
  font-family: $header-font-family;
  font-weight: bold;
  font-style: normal;

  ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  }
}

#site-menu {
  position: fixed;
  top: 0;
  left: 14rem;
  box-sizing: border-box;
  height: $site-menu-height;
  z-index: 3;

  ol {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: ol-counter;
  }

  li {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    position: relative;
    margin-bottom: -1px;
    padding-right: 0.5rem;
    border-style: solid;
    border-width: 0 1px;
    border-color: rgba(0,0,0,0);
    font-weight: bold;
    font-family: $header-font-family;
    line-height: 110%;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &.active {
      border-color: $style-color;
      background-color: lighten($style-color, 15%);
    }
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  a:not(.stars) {
    padding-left: 2rem;

    &::before {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0.5rem;
      align-items: center;
      content: counter(ol-counter);
      counter-increment: ol-counter;
      font-size: 250%;
    }
  }

  a.stars {
    display: none;
    margin-left: 0.4rem;

    .layout {
      @extend %text-shadow;
      -webkit-text-stroke: 1px black;
    }

    .count {
      color: black;

      &:hover {
        color: #6d85b3;
      }
    }
  }

}

#page-menu {
  position: fixed;
  top: $site-menu-height;
  height: $page-menu-height;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  border-top: solid 1px $style-color;
  border-bottom: solid 1px lighten($style-color, 5%);
  box-shadow: 0 0 0.5rem rgba($grey-color, 0.5);
  background: linear-gradient(
    to bottom, lighten($style-color, 15%), lighten($style-color, 20%));
  font-family: $header-font-family;
  line-height: 1.4;
  letter-spacing: 0.05em;
  white-space: nowrap;

  ul {
    display: flex;
    height: 100%;
    margin: 0;
    margin-left: 0.75rem;
    padding: 0;
    align-items: center;
  	list-style-type: none;
  }

  li {
    flex: 0 0 auto;
    padding: 0 1rem;
  	margin-left: 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);

    &.active {
      border-color: $style-color;
      border-radius: 0.5rem;
      background-color: $background-color;
      box-shadow: 0 0 0.5rem $background-color;
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#article {
  margin-top: $site-menu-height + $page-menu-height;

  > header:not([class]) {
    @extend %topclear;
    padding: 0 2rem;
    border-bottom: dashed 1px $grey-color;
    background-image: url("/images/background2.png");

    > p:not([class]):first-of-type {
      font-size: 1.1em;
    }
  }

  > section:not([class]) {
    padding: 0 2rem;
  }

  .star {
    cursor: pointer;

    &.fa-star {
      @extend %text-shadow;
      color: #6d85b3;
      -webkit-text-stroke: 1px black;
    }
  }

  .price {
    float: right;
    font-size: 0.9em;
    font-family: $header-font-family;
    font-weight: normal;
    color: $brand-color;

    .fa {
      font-size: 0.9em;
    }
  }

  .inline {
    float: left;
    margin-right: 1rem;
  }

  .rounded {
    border-radius: 0.5rem;
  }

  .zoomable {
    cursor: zoom-in;
  }

  .flipped-left {
    transform: scaleX(-1);
  }

  > footer:not([class]) {
    @xtend %topclear;
    background-image: url("/images/background2.png");
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: dashed 1px $grey-color;
    font-size: 175%;
    font-family: $header-font-family;
    letter-spacing: 0.05em;

    a {
      @extend %text-shadow;
      display: block;
      margin: 0 1rem;
      padding: 0.25rem 0;
      border: solid 1px darken(#6d85b3, 25%);
      border-radius: 0.5rem;
      box-shadow: 0.1rem 0.1rem 0.2rem rgba($grey-color,0.25);
      background-color: #6d85b3;
      text-decoration: none;
      text-align: center;
      color: #fff;

      &:hover {
        text-decoration: none;
        background-color: #9bb36d;
        border-color: darken(#9bb36d, 25%);
      }
    }
  }
}

#footer {
  @extend %topclear;
  padding: 0.75rem 2rem 1.25rem;
  border-top: dashed 1px $grey-color;
  background-color: $background-color;
  font-size: 0.75em;
  color: lighten($grey-color, 15%);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline;

    &:not(:last-child)::after {
      content: " | ";
      font-size: 0.85em;
      vertical-align: 0.2em;
      color: lighten($grey-color, 30%);
    }
  }

  a {
    color: $grey-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#gallery {
  .pswp__caption__center {
    font-size: 0.9rem !important;
  }
}

#counters {
  display: none;
}
