html {
  font-size: 16px;
  @media print {
    font-size: 16px;
  }
  @media (min-width: $breakpoint-medium) {
    font-size: 24px;
  }
  @media (min-width: $breakpoint-large) {
    font-size: 1.5vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  color: #000;
  a {
    color: #000;
    &:hover {
      color: #000;
    }
  }
}

p {
  margin: 1rem 0;
}

ul {
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    background-color: lighten($second-color, 30%);
  }
  th, td {
    border: solid 1px lighten($second-color, 15%);
  }
  th {
    font-family: $base-heading-font-family;
    color: #000;
  }
}

a {
  border-bottom: solid 1px $alpha-color;
  &:hover {
    border-bottom: solid 1px currentColor;
    text-decoration: none !important;
  }
  &[data-uk-lightbox] {
    border-color: $alpha-color !important;
  }
}
