#article .stair {
  display: flex;
  position: relative;

  &:not(:last-child) {
    border-bottom: dashed 1px $grey-color;
  }

  h2 {
    margin-top: 0;
    font-size: 1.25em;
  }

  table {
    font-size: 0.9em;
    height: 8rem*0.75;
  }
  .image {
    flex: 0 0 auto;
    align-self: center;
    padding: 0 1rem;

    img {
      height: 8rem*1.5;
      width: 8rem;
    }
  }

  .brief {
    width: 100%;
    padding: 1rem;
    border-left: dashed 1px $grey-color;

    .cards {
      display: flex;
      margin-bottom: 0.5rem;

      & > * {
        margin-right: 1rem;
      }
    }

    img {
      box-sizing: border-box;
      height: 8rem*0.75;
      width: 8rem;
      border: solid 1px darken($grey-color, 10%);
    }
  }
}

