#article {
  #map {
    height: 20rem;
    width: 100%;
    margin: 1rem 0;
    border: solid 1px $grey-color;
  }

  table {
    margin: 1rem 0;

    tr:nth-child(2n+3) > * {
      background-color: #f8f8f8;
    }
  }

  .index {
    background: none;
  }

  .region {
    width: 15%;
  }

  .address,
  .comment {
    width: 25%;
  }

  .phones {
    white-space: nowrap;
  }
}
