html {
  font-size: $rem-factor;
}

body {
  background-image: url("/images/background.png");
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: $header-font-family;
  line-height: $header-line-height;
  color: #000;

  a {
    text-decoration: none;
  }
}

a {
  cursor: pointer;
  color: $brand-color;
  text-decoration: underline;

  &:hover {
     text-decoration: underline;
  }
}

table {
  text-align: left;
  font-family: $header-font-family;

  th, td {
    padding: 0 0.5rem;
    border: solid 1px lighten($grey-color, 10%);
  }

  th {
    background-color: #f8f8f8;
    color: #000;
  }
}

figcaption {
  font-family: $header-font-family;
  line-height: $header-line-height;
}

%shadow {
  text-shadow: 1px 1px 2px #333;
}

%clearfix {

  &::after,
  &::before {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

