html {
  font-size: $rem-factor;
}

body {
  background-image: url("/images/background2.png");
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: $header-font-family;
  line-height: $header-line-height;
  color: #000;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
     text-decoration: underline;
  }
}

%clearfix {

  &::after,
  &::before {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

