---
# Required front matter
---
@charset "utf-8";

$rem-value: 1.5vw;

$site-menu-height: 3.25rem;
$page-menu-height: 2.25rem;

$background-color: #fff;
$style-color: #884c27;
$brand-color: #000;
$text-color: #222;
$grey-color: #777;

$base-font-family: "Open Sans", Arial, sans-serif;
$base-font-size: 1rem;
$base-font-weight: 300;
$base-line-height: 1.5;
$header-font-family: "Ubuntu Condensed", Arial, sans-serif;
$header-font-weight: 700;
$header-line-height: 1;

@import "normalize";
@import "base";

body[data-layout="home"] {
  @import "home";
}

body[data-layout="select"] {
  @import "select";
}

body[data-layout="params"] {
  @import "params";
}

body[data-layout="catalog"] {
  @import "catalog";
}

body[data-layout="cart"] {
  @import "cart";
}

body[data-layout="stair"] {
  @import "stair";
}

body[data-layout="shops"] {
  @import "shops";
}
